img{
  margin-top: 100px;
  margin-left: 50px;
  width: 60%;
  border-radius: 5em;
  border: 2px solid black;
  text-align: right;
}
input{
  margin-left: 10px;
}

.card{
  margin-top: 100px;
  padding: 0px;
}

.card-title{
  font-weight: bold;
}
